@charset "utf-8";

/* CSS for Australia States Website */

/* Simplifying Width and Height Calculations */

html{
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    background-color: #4b4b4b;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    background-color: #eff5f8;
}

h1{
    font-family: "Lato", sans-serif;
    font-size: 2.45em;
    text-align: center;
    color:#26c5c5;
    
}

p{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 14px;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 800px;
    background-color: white;
}

#logo {
    float: left;
    padding: 0px 25px
  }

/* styling for menu */
nav {
    text-align:center;
}
nav ul{
    list-style-type: none;
}
nav li{
    display:inline;
    padding: 15px;
}
nav a:link{
    text-decoration: none;
    color: #4b4b4b;
}
nav a:visited{
    color: #4b4b4b;
}
nav a:hover{
    color: #26c5c5;
}
.attribution {
    color: #6d6c6c;
    font-size: x-small;
    font-style: italic;
}
.attribution a:link {
    text-decoration: none;
    color: #6d6c6c;
}
.attribution a:visited {
    color: #4b4b4b;
}
.attribution a:hover {
    color: #4b4b4b;
}

/* Contact table styling */

.contact-table {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.contact-table th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.contact-table td {
    border:1px solid #C0C0C0;
    padding:5px;
}
.contact-table td:nth-child(3) {
    text-align: center;               /* to center align 3rd column text - phone numbers */
}
.contact-table tr:nth-child(even) {
    background-color: #F0F0F0;      /* to set background shade of every even numbered row to match header */
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
button {
    background-color: #26c5c5;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #096868;
}

fieldset {
    width: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
}